[submodule "crates/proto/third_party/googleapis"]
	path = crates/proto/third_party/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "crates/proto/third_party/protoc-gen-validate"]
	path = crates/proto/third_party/protoc-gen-validate
	url = https://github.com/bufbuild/protoc-gen-validate.git
